.wd.nav{
    width:100%;
    border-bottom:1px solid rgb(47, 51, 54);
  }

.wd.gear{
  padding-left:150px;
    padding-right :12px;
   
    color:rgb(29,161,242);
    text-decoration: none;
    size:20px;
}
.wd.gear.padding{
  padding-left: 16px;
}

li {
display: inline;
font-size: 15px;
color: rgb(110,118,125);
width:unset;
margin-top: 10;
margin-bottom: 10;
padding-left:140px;
    
  }
  .wd.list{
    color: gray;
    width: 100%;
 font-size: 15px;
 padding: 16px, 16px ,16px ,16px;
 padding-left: 16px;
  }
 .wd.list .wd.listed.selected{
    color:rgb(29,161,242);
    padding-left:0px;
    padding-bottom: 12px;
    border-bottom:solid 2px rgb(29,161,242);
    border-collapse: separate;
    border-spacing :10px;
 }


.wd.rounded-corners-all-around {
    border-radius: 200px;
    width: 980px;
    padding-left:0px;
    height: 40px;
    background-color: grey;
    color:white;
   }
.wd.body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
    border-top:1px solid rgb(47, 51, 54);
    border-left:1px solid rgb(47, 51, 54);
    border-right:1px solid rgb(47, 51, 54);
    
} 
.wd.wrapper {
    width: 100%;
    margin: 0 ;
  
    list-style: none;
    height: fit-content;
  }
  
.wd.div{
    line-height: 0%;
}
.wd.section{
    line-height: 0%;
    display:inline-block;
    height: min-content;
    width:97.5%;
   padding-left: 16px;
  
     }
.wd.float-left{
    float: left;
    height:10px
}
.wd .image-border
{
position: relative;
border-radius: 25px 25px 25px 25px;


}
.wd.image-right{
    float:right;
    padding-left:800px;
    padding-right:16px;
    padding-bottom: 5px;
}


.wd.h6{
    font: 13px;
    color:rgb(110,118,125);

}
  .wd.tick{
    color:white;
  }

  .wd.section.block{
    border-bottom:1px solid rgb(47, 51, 54);
    padding-left: 0px;
    width: 100%;
  }

  .wd.search.bar{
    padding-left: 16px;
    padding-right: 12px;
  }